body {
    margin: 0px;
    padding: 0px;
    background: #F3F5FC;
}

.container {
    margin: auto;
    width: 960px;
    height: 650px;
    padding: 5px;
}

.logo {
    width: 100%;
    float: left;
    background: white;
    border:2px solid black;
    border-radius: 22px 16px;
}

.left {
    float: left;
    width: 70%;
    height: 70%;
    border-radius: 22px;
}

.right {
    float: right;
    width: 30%;
    height: auto;
    border-radius: 22px;
    background: white;
    
}

.left-button {
    float: left;
    width: 70%;
    height: auto;
    border-radius: 22px;
}

.logoimg {
    margin-top: 1%;
    margin-left: 5%;
    float: inherit;
}

.title {
    float: inherit;
    margin-left: 20%;
}

.textarea, #inputtexto {
    float: left;
    margin-left: 10%;
    margin-top: 10%;
    width: 50%;
    height: 80%;
    color: #0A3871;
    font-size: 20px;
    border: none;
    outline: none;
    background: #F3F5FC;
    display: block;
    overflow-wrap: break-word;
    
}
#imgder{
    margin-top: 20px;
    width: 90%;
    height: auto;
}
#texto1{
    margin-left: 10%;
    margin-right: 5%;
}
#cajatexto{
    float: left;
    margin-left:10% ;
    color: #0A3871;
    width: 80%;
    height: 60%;
    border: none;
    outline: none;
    font-size: 15px;
    
}
#btn1{
    padding: 24px;
    width: 30%;
    height: 60%;
    border-radius: 22%;
    margin-left: 15%;
    background: #0A3871;
    transition: 1s;
    cursor: pointer;
}
#btn2{
    padding: 24px;
    width: 30%;
    height: 60%;
    border-radius: 22%;
    margin-left: 5%;
    background: #D8DFE8;
}
#btn3{
    margin-left: 33%;
    margin-top: 90%;
    padding: 24px;
    width: 40%;
    height: 10%;
    background: #D8DFE8;
    border-radius: 22px;
    display: none;
}
#btn1 :hover{
    background: darkorange;
    transform: rotate(360deg);
    
}
#btn1:active{
    transition: 1s;
    background: burlywood;
    transform: rotate(360deg);
}
#btn2 :hover{
    background: darkorange;
    transform: rotate(360deg);
    
}
#btn2:active{
    transition: 1s;
    background: burlywood;
    transform: rotate(360deg);
}
#btn3 :hover{
    background: darkorange;
    transform: rotate(360deg);
    
}
#btn3:active{
    transition: 1s;
    background: burlywood;
    transform: rotate(360deg);
}
#parrafo{
    color: red;
    text-align: center;
}